@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/mycss")

</head>

<body class="my-body">
    <div>
        <h2>About Us</h2>
         
    </div>
    <div>
        <footer class="TradeMark">
            <p>2020 &copy; The Brownie Bakery By ADITYA BHATT</p>
        </footer>
    </div>
</body>
</html>