@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/mycss")

</head>

<body class="aboutUs-body">
    <div>
        <h2 class="my-h2">ABOUT US</h2>
        <div class="box">
            <h1 class="my-h1">WHY DO WE DO IT? BECAUSE WE LOVE IT!</h1>

            <p>•  In 2010, The Brownie Bakery opened its first kiosk location in Chandigarh, India. From its inception, The Brownie Bakery is known as bakery unique for our cupcakes and cakes. We take pride in using natural ingredients in our cupcakes, cakes and desserts.</p>
            <p>•  Our treats are as deliciously wholesome as they are beautifully decorated. Choose from our signature cupcakes, weekly and holiday specials or custom created desserts.</p>


            <h1 class="my-h1">Our Vision</h1>

            <p>•  The Brownie Bakery offers a homestyle bakery experience in Chandigarh. Our vision is to create upscale, quick-serve bakery with a focus on simple and satisfying souther style desserts and baked goods.</p>

            <h1 class="my-h1">Our Mission</h1>

            <p>•  The Brownie Bakery's philosophy is to offer simple and delicious desserts that are easily accessible to clients via location or delivery options. Our ingredients are high quality; each dessert is carefully made with only the finest, all-natural ingredients.</p>

        </div>
    </div>
    <div>
        <footer class="TradeMark">
            <p>2020 &copy; The Brownie Bakery By ADITYA BHATT</p>
        </footer>
    </div>
</body>
</html>