@{
    ViewBag.Title = "Home";
}

<div class="main-content-headings">
    <h1> WELCOME TO THE WORLD OF <span>DESSERTS</span></h1>

    @Html.ActionLink("Order Now", "Index",
         new { controller = "Product" },
         new { @class = "btn btn-ClicktoOrder" })
</div>
 