@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>TERMS AND CONDITIONS</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/mycss")
</head>

<body class="term-body">
    <div>
        <h2>TERMS AND CONDITIONS</h2>
        <div class="box">
            <h1>The Brownie Bakery Service Use</h1>

            <p>•  User is hereby allowed to use The Brownie Bakery Service subject to acceptance of the terms and conditions and the Privacy Policy on The Brownie Bakery Website (“Terms”). The Brownie Bakery retains the right to change the Terms from time to time and such modified Terms shall be immediately applicable. Every time you use The Brownie Bakery Service, shall constitute your acceptance of changes made to Terms. For detailed terms, please refer our website www.thebrowniebakery.in</p>

            <h1>Ordering</h1>

            <p>•  You agree to take reasonable care when providing The Brownie Bakery with your details and warrant that these details are accurate and complete at the time of ordering food. You also warrant that the credit or debit card details that you provide are of your own credit or debit card.</p>
            <p>• The Brownie Bakery ensures quality standards and is solely responsible and liable for all and any issues and cases pertaining to the quality of the food or order for eg. veg/non-veg labeling etc but not limited to this, to the User directly.</p>
            <p>• User understands that some type of Food may be suitable for Users within certain age ranges only. It is your sole responsibility to check whether the Food you are ordering is suitable for the intended recipient.</p>

            <h1>Prices And Payment</h1>

            <p>•  All prices listed on the The Brownie Bakery Website for Food is correct at the time of publication. While The Brownie Bakery takes great care to keep them up to date, the final price charged to you may change at the time of delivery, based on the latest menu and prices. The Brownie Bakery reserves the right to alter the menu of Food available for sale on the The Brownie Bakery Website and to delete and remove from listing the menu of Food and Food Delivery options, if any.</p>
            <p>•  User agrees that in case of change in price, The Brownie Bakery or its employees will not be liable to him in any manner.</p>
            <p>•  The total price for Food and Food Delivery including all other charges, taxes, costs, if any, will be displayed on the The Brownie Bakery Website when you place your order. Full payment must be made for all the particulars mentioned in the order.</p>
            <p>•  If you choose online payment, you shall ensure that online payment mode is secured, your debit/credit card details will be encrypted to prevent the possibility of someone being able to read them as they are sent over the internet. Your credit card company may also conduct necessary security checks to confirm about your identification before making any such payment.</p>

            <h1>Delivery</h1>

            <p>•  Delivery period quoted at the time of ordering are approximate only and may vary. Food will be delivered to the address as intimated by you while ordering.</p>
            <p>•  The Brownie Bakery will make every effort to deliver within the time stated, however, The Brownie Bakery will not be liable for any loss caused to you by late delivery. If the Food is not delivered within the estimated delivery time quoted, User may contact The Brownie Bakery by email and The Brownie Bakery will try to ensure that you receive your order as quickly as reasonably possible.</p>
            <p>•  In case of a late delivery, the delivery charge will neither be voided nor refunded by The Brownie Bakery.</p>
            <p>•  If you fail to accept delivery of Food at the time they are ready for delivery or The Brownie Bakery is unable to deliver at the nominated time due to your failure to provide appropriate instructions or authorizations, then the Food shall be deemed to have been delivered to you and all risk and responsibility in relation to such Food shall pass to you. Any storage, insurance and other costs which The Brownie Bakery incur as a result of the inability to deliver shall be your responsibility and you shall indemnify The Brownie Bakery in full for such cost.</p>
            <p>•  You must ensure that at the time of delivery of Food adequate arrangements, including access where necessary, are in place for the safe delivery of the Food. The Brownie Bakery cannot be held liable for any damage, cost or expense incurred to such Food as a result of a failure to provide adequate access or arrangements for delivery.</p>


            <h1>Refund Policy</h1>

            <p>•  Refund will be credited to the customer in case of any cancellations within 7-8 days.</p>

            <h1>Personal Information and Privacy</h1>

            <p>•  User understands and acknowledges that by choosing The Brownie Bakery you have allowed The Brownie Bakery to use your personal information.</p>
            <p>•  User understands, acknowledges and agrees that although The Brownie Bakery provides appropriate firewalls and protections, the The Brownie Bakery Service is not hack proof. Data pilferage due to unauthorized hacking, virus attacks, technical issues is possible.</p>
            <p>•  In case The Brownie Bakery is required to disclose your personal information in order to assist the Government Authority or in adherence to the Court Order or to protect the interest of the The Brownie Bakery Service and/or any particular user(s), The Brownie Bakery will disclose it without obtaining prior permission from you. You authorize us to disclose your personal information.</p>
            <p>•  Your use of this site means that we have your consent to send periodic communication regarding offers, alerts and updates. This communication can be through SMS, emails or any other communication tool.</p>

            <h1>Ownership of Intellectual Property</h1>

            <p>•  All intellectual property rights of the The Brownie Bakery, including but not limited to copyright, logos, names, trademarks, service marks, design, text, sound recordings, images, links, concepts and themes are exclusively owned by The Brownie Bakery. Any reproduction, transmission, publication, performance, broadcast, alteration, license, hyperlink, creation of derivative works or other use in whole or in part in any manner is strictly prohibited.</p>
            <p>•  The Brownie Bakery is a brand, owned and operated by <span class="name">ADITYA BHATT</span>.</p>
            <p>•  Write to us at <span class="email"> thebrowneybakery@gmail.com</span> or speak at <span class="contact">+917973170925</span>.</p>

        </div>
    </div>
    <div>
        <footer class="TradeMark">
            <p>2020 &copy; The Brownie Bakery By ADITYA BHATT</p>
        </footer>
    </div>
</body>
</html>