@model IList<App.Models.ProductModel>

@{
    ViewBag.Title = "Product List";
}

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="search-form">
        @Html.TextBox("keyword", ViewBag.keyword as string, new { @placeholder = "Search ...", @name = "keyword" })

        <button type="submit" class="btn btn-ClicktoOrder">Search</button>
    </div>
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <spam>@item.Name</spam> <br />
    }

}